{% load static %}
<html>
    <head>
        <title>REBIS</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/bootstrap-theme.mon.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="\stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="container">
        <header>
            <div class="nav-left" id="outer">
            <h1 class="center"><a href="/">REBIS</a></h1>
            </div>
            <div class="nav-right">
            <a href="{% url 'post_new' %}">Give a new suggestion here</a>
            </div>
        </header>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
