{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}
    {% if post.done == False %}
    {% if post.is_money %}
        <div class="post-entry" id="rcorners2">
    {% else %}
        <div class="post-entry" id="rcorners">
    {% endif %}
        <section class="indent-1">
            <div>
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            </div>
            <div>
            <p>{{ post.body }}</p>
            </div>
            </section>
            <div style="text-align:right">
            <h2><a href="{% url 'increment' post.pk %}">^</a></h2>
            </div>
            <div style="text-align:right">
                <h2>{{ post.votes }}</h2>
            </div>
        </div>
    {% endif %}
    {% endfor %}
            <div class="nav-right">
            <a href="{% url 'post_new' %}">Give a new suggestion here</a>
            </div>
    <h1>Changelog</h1>
    {% for post in object_list %}
    {% if post.done == True %}
        <ul>
            <li>
            <div>
            <h2>{{ post.title }}</h2>
            </div>
            <div>
            <p>{{ post.body }}</p>
            </div>
            </li>
         </ul>
    {% endif %}
    {% endfor %}
{% endblock content %}
